#find{
    margin: 40px 0;
    width: 100%;
}
#find span,h3,h4{
    color: var(--cgv_text_222);
}
.tab_wrap{
    display: flex;
}
.tab{
    margin-right: 2px;
    margin-bottom: -2.5px;
    width: 100px; height: 37px;
    background-color: var(--cgv_red);
    border-radius: 10px 10px 0 0;
    font-size: 13px;
    font-weight: 600;
    color: var(--cgv_white);
    text-align: center;
    line-height: 37px;
    z-index: 2;
    cursor: pointer;
}
.tab_wrap .off{
    background-color: #898987;
}
.find_wrap{
    padding: 30px 0;
    border-top: 2px solid #898989;
}
.description{
    margin-bottom: 30px;
}
.description h3{
    margin-bottom: 10px;
    font-size: 15px;
}
.description span{
    font-size: 13px;
}
.find_box{
    border: 2px solid #e2e2e0;
    display: flex;
    flex-direction: column;
}
.box_title{
    padding: 20px;
    background-color:#e2e2e0;
}
.box_content{
    padding: 45px 60px 50px;
    align-items: center;
}
.box_content h3{
    margin: 20px 0;
    text-align: center;
}
.inner_box{
    border-top: 2px solid #898989;
    background-color: #f7f6ea;
    padding: 20px;
    text-align: center;
}
.inner_box div{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.inner_box div input{
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 100px;
    outline: none;
    border: 1px solid #898989;
}
#user_id{
    margin-left: 10px;
    width: 200px;
}
.inner_box span{
    line-height: 35px;
    font-size: 13px;
}
.inner_box button{
    margin-left: 10px;
    padding: 8px 10px;
    width: auto;
    background-color: var(--cgv_red);
    font-size: 13px;
    color: var(--cgv_white);
    border-radius: 5px;
    cursor: pointer;
}
.contact_wrap{
    padding: 30px 20px;
    border: 2px solid #d5d4cd;
}
.contact_wrap dl{
    display: flex;
}
.contact_wrap dt{
    width: 90px; height: 100%;
}
.contact_wrap h3{
    font-size: 13px;
}
.contact_wrap dd{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
}
.contact_wrap span{
    font-size: 13px;
    font-weight: 500;
    color: var(--cgv_text_666) !important;
}