#sign_up{
    width: 100%; height: auto;
    position: relative;
}
.su_container{ 
	padding: 50px 0 200px;
	width: 100%; height:100%;
	position: relative;
}
.tab{
    margin-bottom: -2.5px;
    width: 100px; height: 37px;
    background-color: var(--cgv_red);
    border-radius: 10px 10px 0 0;
    font-size: 13px;
    font-weight: 600;
    color: var(--cgv_white);
    text-align: center;
    line-height: 37px;
    z-index: 2;
    position: relative;
}
.su_form{
    border-top: 2px solid #898987;
    border-bottom: 2px solid #898987;
    display: flex;
    flex-direction: column;
    position: relative;
}
.su_form dl{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #e4e4e4;
}
.su_form dt{
    padding: 20px;
    width: 150px; height: auto;
    text-align: left;
    font-weight: 900;
    background-color: #e8e8e8;
}
.su_form dd{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.su_form input{
    width: 100px; height: 20px;
    padding: 5px;
    outline: none;
    border: 1px solid #b5b5b5;
}
.su_form input::placeholder{
    color: var(--cgv_text_222);
    font-size: 14px;
}
.su_form .ip_box{
    width: 220px;
}
.su_form button{
    margin-left: 5px;
    padding: 5px;
    width: 80px; height: 32px;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 5px;
    color: var(--cgv_white);
    font-size: 14px;
    cursor: pointer;
}
.su_form span{
    margin-top: 5px;
    font-size: 12px;
    color: var(--cgv_text_666);
    font-weight: 600;
}
.su_form .error_msg{
    margin-top: 5px;
    font-size: 13px;
    color: var(--cgv_red);
}
.su_form select{
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.submit_btn{
 	position: absolute; right:0; bottom: -50px;
	width: 100px !important; height: 40px !important;
	font-weight: 900;
	color: var(--cgv_white) !important;
	background-color: var(--cgv_red) !important;
	border-radius: 5px;
}