#header{
    width: 100%;
}

/* header top */
.header_top{
    margin: 0 auto;
    width: 991px; height: 112px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.main_logo{
    display: flex;
    justify-content: left;
    align-items: center;
}
.img_logo{
    width: 117px; height: 53px
}
.main_logo span{
    font-size: 16px;
    font-weight: 400;
    color: var(--cgv_text1);
    letter-spacing: 0.313em;
    line-height: 1.5em;
    text-transform: uppercase;
    align-self: flex-end;
}
.user_nav{
    display: flex;
    align-items: center;
}
.user_nav ul{
    display: flex;
    justify-content: centers;
}
.user_nav ul li{
    margin-left: 32px;
}
.user_nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_nav ul li img{
    width: 36px; height: 36px;
}

/* main nav */
.nav{
    width: 100%;
    position: relative;
    border-top: 1px solid var(--cgv_border);
    border-bottom: 1px solid var(--cgv_red);
    background-color: white;
}
.main_nav_wrap{
    padding: 5px 0;
    margin: 0 auto;
    width: 980px; 
    display: flex;
    justify-content: space-between;
    
}
.main_nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.main_nav ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_nav ul li a{
    color: var(--cgv_text1);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 800;
}
.main_nav ul li a.ticket{color: var(--cgv_red);}

.search_wrap{
    margin: 0 auto;
    margin: 10px 0;
    padding: 0px 10px;
    width: 20%; height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid var(--cgv_border);
    border-right: 1px solid var(--cgv_border);
}
.ip_search{
    width: 180px; height: 24px;
    outline: none;
    border: none;
}
.ip_search::placeholder{
    font-weight: 900;
}
.search_wrap img{
    margin-left: 7px;
    width: 26px; height: 26px;
}

.hidden_wrap{
    z-index: -1;
    padding-top: 20px;
    width: 100%; height: 270px;
    position: absolute; top: 32px;
    background-color: white;
    border-bottom: 1px solid var(--cgv_border);
}
.sub_wrap{
    margin: 0 auto;
    padding: 18px 0;
    width: 980px;
    display: flex;
    justify-content: left;
    font-size: 14px;
}
.sub_wrap ul{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid var(--cgv_border);
}
.sub_wrap ul:first-child{
    margin-left: 0px;
    padding-left: 0px;
    border-left: none;
}
.sub_wrap ul li:first-child a{
    color: var(--cgv_text1);
    font-size: 14.3px;
    font-weight: 800;
}
.sub_wrap ul li a{
    margin: 5px 0;
    display: inline-block;
    width: 97px; height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: var(--cgv_text2);
}
.sub_wrap ul li a:hover{
    text-decoration: underline;
}